# source: https://github.com/mitmproxy/pdoc/blob/main/.github/workflows/docs.yml

name: docs
on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    name: Build docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          version: 0.9.7
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - name: Install the project
        run: uv sync --frozen --group dev
      - name: Build docs
        run: uv run inv docs
      - name: Upload docs
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/site/

  # Deploy the artifact to GitHub pages.
  # This is a separate job so that only actions/deploy-pages has the necessary permissions.
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
